<div class="ui inverted vertical footer segment">
   <div class="ui center aligned container">
    <div class="ui stackable inverted divided center aligned grid">
      <div class="three wide column">
        <h4 class="ui inverted header">Me as a researcher</h4>
        <div class="ui inverted list">
          <div class="item">
            <div class="content">
              <i class="graduation cap icon"></i>
              <a href="https://scholar.google.se/citations?user=VTbu-oEAAAAJ&hl=en">Google Scholar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Me as a developer</h4>
        <div class="ui inverted list">
          <div class="item">
            <div class="content">
              <i class="github icon"></i>
              <a href="https://github.com/apricis">{{site.github_username}}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Contact me</h4>
        <div class="ui inverted list">
          <div class="item">
            <div class="content">
              <i class="facebook icon"></i>
              <a href="https://www.facebook.com/dmytro.kalpakchi">{{site.facebook_username}}</a>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <i class="at icon"></i>
              <a href="mailto:dkalpackchi@gmail.com">{{site.email}}</a>    
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

