<head>
    <meta charset="utf-8">

    <!-- Common stylesheets -->
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/Semantic-Org/Semantic-UI/22acbc26/dist/semantic.min.css">
    <link rel="stylesheet" href="{{ '/assets/app.css' | relative_url }}">
    
    <script text="javascript" src="https://cdn.rawgit.com/jquery/jquery/ee2e377494a882f043e6d8abc67ac6370ee83d9c/dist/jquery.min.js"></script>
    <script text="javascript" src="https://cdn.rawgit.com/Semantic-Org/Semantic-UI/22acbc26/dist/semantic.min.js"></script>
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</head>