{% assign t = site.i18n[page.lang].menu %}

<div class="ui borderless main labeled menu">
  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
  <div class="ui text container">
    <div class="header item tablet mobile hidden">
      <img id="smallLogo" src="/assets/img/logo.png" alt="My blog's logo" class="ui mini hidden logo image">
      <a href='{% if page.lang == site.default_lang %}/{% else %}/{{page.lang}}/{% endif %}'>{{t.title}}</a>
    </div>
    <a href="/{{page.lang}}/" class="item"><i class="newspaper icon"></i>{{t.posts}}</a>
    <a href="/{{page.lang}}/about/" class="item">{{t.about}}</a>
    <div class="ui right floated dropdown item">
      <i class="globe icon"></i>{{t.language}} <i class="dropdown icon"></i>
      <div class="menu">
        {% for pg in pages %}
          <a href="{{ pg.url }}" class="item {{ pg.lang }} widescreen monitor only">{{ site.i18n[pg.lang].menu['lang'] }}</a>
          <a href="{{ pg.url }}" class="item {{ pg.lang }} large monitor only">{{ site.i18n[pg.lang].menu['lang'] }}</a>
          <a href="{{ pg.url }}" class="item {{ pg.lang }} computer only">{{ pg.lang }}</a>
          <a href="{{ pg.url }}" class="item {{ pg.lang }} tablet only">{{ pg.lang }}</a>
          <a href="{{ pg.url }}" class="item {{ pg.lang }} mobile only">{{ pg.lang }}</a>
        {% endfor %}
        
        {% for c in site.collections %}
          {% assign category=site[c.label] | where:"ref", page.ref | sort: 'lang' %}
          {% for el in category %}
            <a href="{{ el.url }}" class="item {{ el.lang }} widescreen monitor only">{{ site.i18n[el.lang].menu['lang'] }}</a>
            <a href="{{ el.url }}" class="item {{ el.lang }} large monitor only">{{ site.i18n[el.lang].menu['lang'] }}</a>
            <a href="{{ el.url }}" class="item {{ el.lang }} computer only">{{ el.lang }}</a>
            <a href="{{ el.url }}" class="item {{ el.lang }} tablet only">{{ el.lang }}</a>
            <a href="{{ el.url }}" class="item {{ el.lang }} mobile only">{{ el.lang }}</a>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>