---
---

/*
* @Author: Dmytro Kalpakchi
* @Date:   2016-12-29 10:26:27
* @Last Modified by:   Dmytro Kalpakchi
* @Last Modified time: 2017-01-01 23:00:16
*/
@import "syntax";
@import "semantic-fixes";

body {
  background-color: #FFFFFF;
}

.logo.container {
	margin-top: 1em;
}

.main.container {
  margin-top: 2em;
}

.main.menu {
  margin-top: 2em;
  border-radius: 0;
  border: none;
  box-shadow: none;
  transition:
    box-shadow 0.5s ease,
    padding 0.5s ease
  ;
}

.overlay {
  float: left;
  margin: 0em 3em 1em 0em;
}

.overlay .menu {
  position: relative;
  left: 0;
  transition: left 0.5s ease;
}

.main.menu.fixed {
  background-color: #FFFFFF;
  border: 1px solid #DDD;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.overlay.fixed .menu {
  left: 800px;
}

.text.container .left.floated.image {
  margin: 2em 2em 2em -4em;
}

.text.container .right.floated.image {
  margin: 2em -4em 2em 2em;
}

.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

.ui.compact.list .item .content {
	width: inherit !important;
}

.ui.compact.list .item {
	
}