---
layout: page
# The Home page layout
---

<div class="mt-5">
  <b>Current position:</b> PhD student at <a href="https://www.kth.se/is/tmh/">Division of Speech, Music and Hearing</a>, <a href="https://kth.se">KTH Royal Institute of Technology</a> advised by <a href="https://www.csc.kth.se/~jboye/">Johan Boye</a> (secondary supervisor -- <a href="https://www.speech.kth.se/~gabriel/">Gabriel Skantze</a>)<br>
  <b>Current research direction:</b> Question Generation, Multiple Choice Question Generation<br>
  <b>Broad research interests:</b> NLP/NLG for educational applications<br>
  <br>
  <b>Academic background</b>
  <ul>
    <li>MSc in Machine Learning at <a href="https://kth.se">KTH Royal Institute of Technology</a></li>
    <li>BSc in Computer Science at <a href="https://kpi.ua/">National Technical University of Ukraine "Kyiv Polytechnic Institute"</a></li>
  </ul>

</div>